<!--The content below is only a placeholder and can be replaced.-->

<div>
  <div>

    <div class="list">
      <mat-toolbar color="primary" style="width: 100%">
        <mat-toolbar-row style="width: 100%">
          <div style="display: inline-flex" style="width: 100%">
            <div style="width: 100%">
              <mat-form-field style="width: 100%">
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="pickerDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker
                  startView="multi-year"
                  #picker [startAt]="pickerDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </mat-toolbar-row>
        <mat-toolbar-row style="width: 100%">
            <mat-form-field style="width: 100%">
              <mat-select [(value)]="selectedCategory" placeholder="Crime category">
                <mat-option *ngFor="let category of categories" [value]="category.url">
                  {{ category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
  <div class="map-with-controlls">
    <div id="map" class="map"></div>
  </div>
</div>


